    .example-card {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    }
    .example-spacer {
    flex: 1 1 auto;
    } 
    .products-category-list {
    padding: 15px;
    }
  
