  <h1 mat-dialog-title>{{data.n}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <textarea placeholder="Description" matInput [(ngModel)]="data.d"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Width" matInput [(ngModel)]="data.w">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Height" matInput [(ngModel)]="data.h">
  </mat-form-field>
  <mat-form-field>
    <mat-label>IsSmart</mat-label>
    <mat-select [(value)]="data.i">
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>